<!-- home page, starting page when user langs on website, inherits from 'base.html' -->
{% extends "base.html" %}

{% block title %}User Settings{% endblock title %}

{% block content %}
<main>
    {% load static %}
    <h1>Upload Your Profile Picture</h1>
    <p>Here you can upload a new profile picture or change your old one.</p>
    <ul>
        <li>the image file has to be less than 2MB</li>
        <li>the image will be scaled down to 150 pixel</li>
        <li>you can crop the image before uploading it</li>
    </ul>

    <button id="upload_widget" class="btn btn-outline-dark p-2 m-2 ">
        upload image files
    </button>
    <img src="https://res.cloudinary.com/diwuglogr/image/upload/v1656221691/salt_and_pepper/default-user-icon-8_jddbuo.jpg"
        alt="new profile picture" id="check_new_profile" class="profile-picture">
    <form action="user_settings_profile/" method="post" class="p-2 m-2 d-inline-block">
        {% csrf_token %}
        <input type="hidden" name="new_profile_picture" id="picture_form" value="">
        <input id="button_form" type="submit" value="Submit New Profile Picture" class="btn btn-primary" disabled
            title="submit new profile picture" aria-label="submit new profile picture">
    </form>
    <!-- cloudinary upload widget -->
    <script src="https://widget.cloudinary.com/v2.0/global/all.js">
    </script>
    <script src="https://upload-widget.cloudinary.com/global/all.js">
    </script>
    <script src="{% static 'javascript/profile_picture.js' %}"></script>
</main>
{% endblock content %}