.hide-table {
    display: none;
}

.text-rotate {
    writing-mode: vertical-rl;
}

.menu-pictures {
    object-fit: cover;
}

.text-height-menu {
    height: 170px;
}

.profile-picture {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px;
}

@media only screen and (max-width: 768px) {
    .md-break {
        display: block;
        width: 100%;
    }

    .text-rotate {
        writing-mode: unset;
        font-size: large;
    }

}

@media only screen and (max-width: 992px) {
    .ld-break {
        display: block;
    }
}