<!-- the basic layout of the page, all other pages ill inherit from here -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Guests can see the menu, reserve a table, and leave a comment.">
    <meta name="keywords" content="Restaurant">
    <meta name="author" content="Zoltan Kepes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href='css/sass-style.css'> -->
    <link rel="stylesheet" href="{% static 'css/sass-style.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- google font Pacifico -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- favicon-32x32 -->
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/diwuglogr/image/upload/v1656274794/salt_and_pepper/favicon-32x32_czjkto.png">
    <title>{% block title %}Salt And Pepper Restaurant{% endblock title %}</title>
</head>

<body>
    <header class="container">
        <div class="d-flex flex-wrap justify-content-around p-3 mb-3 border-bottom">
            <div class="d-flex flex-wrap justify-content-around">
                <img height="80" width="80"
                    src="https://res.cloudinary.com/diwuglogr/image/upload/v1656272885/salt_and_pepper/logo_cozruj.webp"
                    alt="website logo, two rings, one with a salt shaker the other one with an pepper shaker inside">
                <p class="navbar-title align-self-center text-center">Salt And Pepper Restaurant</p>
                <!-- </div> -->
                {% if user.is_authenticated %}
                <!-- <div class="d-flex flex-wrap justify-content-around align-self-center"> -->
                {% if user.profile_picture %}
                <img src="{{user.profile_picture}}" alt="user profile picture" class="profile-picture">
                {% endif %}
                <!-- <div class="dropdown align-self-center"> -->
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle user-menu" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}'s Menu
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                    {% if user.is_superuser %}
                    <li><a class="dropdown-item" href='{% url "admin:index" %}'>Admin</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'menu' %}">Browse Our Menu</a></li>
                    <li><a class="dropdown-item" href="{% url 'bookings' %}">Manage Your Booking</a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'comment' %}">Write A Review</a></li>
                    <li><a class="dropdown-item" href="{% url 'user_settings' %}">Change Your Profile
                            Picture</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change'%}">
                            Change Your Password</a></li>
                </ul>
                <!-- </div> -->
                {% else %}
                <div class="d-flex flex-wrap justify-content-around align-items-center">
                    <a href="{% url 'home' %}" class="btn btn-outline-dark m-2">
                        Home</a>
                    <a href="{% url 'menu' %}" class="btn btn-outline-dark m-2">
                        Menu</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-dark m-2">
                        Log In</a>
                    <a href="{% url 'signup' %}" class="btn btn-outline-dark m-2">Sign Up</a>
                </div>
            </div>
            {% endif %}
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="container">
        <footer class="d-flex justify-content-around mt-4">
            <address class="my-0">
                <table class="table table-sm tabel-contact my-1">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="addresHead">City:</td>
                            <td class="addressInfo">London</td>
                        </tr>
                        <tr>
                            <td class="addresHead">Street:</td>
                            <td class="addressInfo">1 Salt and Pepper Street</td>
                        </tr>
                        <tr>
                            <td class="addresHead">Post Code:</td>
                            <td class="addressInfo">SA1 PE1</td>
                        </tr>
                        <tr>
                            <td class="addresHead">Email:</td>
                            <td class="addressInfo"><a
                                    href="mailto:salt.and.pepper@gmail.com">salt.and.pepper@gmail.com</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="addresHead">Telephone:</td>
                            <td class="addressInfo"><a href="tel:0123456789">01234 56789</a></td>
                        </tr>
                    </tbody>
                </table>
            </address>
        </footer>
    </div>
    <!-- Bootstrap 5.2.0 beta  JavaScript Bundle with Popper -->
    <script src="{% static 'javascript/bootstrap_bundle_min.js' %}">
    </script>
</body>

</html>