<!-- home page, starting page when user langs on website, inherits from 'base.html' -->
{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://res.cloudinary.com/diwuglogr/image/upload/v1656087553/salt_and_pepper/jay-wennington-N_Y88TWmGwA-unsplash_czcyaa.jpg"
                class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">The Salt And Pepper Restaurant</h1>
            <p class="lead">The "Salt and Pepper" is an amazing restaurant where you can have a really good time with
                your friends and family. Our award winning menu will not disappoint you!</p>
            <p>Sign up and book a table or have a look at our menu.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                {% if user.is_authenticated %}
                <a href="{% url 'bookings' %}" class="btn btn-outline-dark me-2">reserve a table</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-dark me-2">log in</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-dark me-2">sign up</a>
                {% endif %}
                <a href="{% url 'menu' %}" class="btn btn-outline-dark me-2">see our menu</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}